* {
    outline: medium none;
    font-family:"Asul", monospace;
}
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}
.flashbg{background:url(http://i261.photobucket.com/albums/ii41/tanisha_miller/strobe.gif);
}
a{
	text-decoration:none;
	color:white;
}
h1{
    font-size: 16px;
    font-weight: lighter;
    letter-spacing: 7px;
}
#wrapper {
    background:url(http://polarmoonbase.com/images/space.jpg) no-repeat center center;
    letter-spacing: 1px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    color:white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
    width:100%;
    display:none;
    position:fixed;
}
#loading {
    width:100%;
    height:100%;
    position:fixed;
    background:url("https://media.giphy.com/media/9ZUlbWleWs9aM/giphy.gif") no-repeat center center fixed !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important; 
    z-index: 1;
}
#loading p {
    margin: 10%;
    font-size: 15px;
    background:#131313;
    color:white;
    padding:10px;
    width:20%;
    font-family:monospace;
}
.body2{
    background:#8f00ff !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important; 
}
.jupiterspixzoom{
    background-size: 100% !important;
}
.jupiterspix{
    background:url("http://nsarchive.gwu.edu/NSAEBB/NSAEBB539-Declassified-Documents-on-US-Military-Activities-in-Cyberspace/images/geovideo-1.gif") no-repeat center center fixed !important;
       -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important; 
}
.jupiterspix:hover {
    cursor: no-drop !important;
}
#moon {
    height: 100px;
    width: 100px;
    margin: 15%;
    position: absolute;
    background: url(http://38.media.tumblr.com/cead6e4c170671ad157ef0c486c6a508/tumblr_mt9smxDyur1qb87hvo1_r6_400.gif)no-repeat center;
    background-size: 180px;
    border-radius: 180px;
    -webkit-border-radius: 180px; 
    -moz-border-radius: 180px; 
    cursor:move;
    -ms-transform: rotate(-12deg); /* IE 9 */
    -webkit-transform: rotate(-12deg); /* Chrome, Safari, Opera */
    transform: rotate(-12deg);
}
.moon2{
    width:100%;
    height:100%;
    opacity:0;
}
#menu {
	background: white;
	color: black;
	padding: 30px;
	text-align: center;
	position: fixed;
	cursor:pointer;
	margin-top:70px;
	opacity:.9;
	box-shadow:none !important
}
#menu p {
    margin: 0;
}
#mars {
    margin: 30%;
    position: absolute;
    cursor:move;
    -ms-transform: rotate(-12deg); /* IE 9 */
    -webkit-transform: rotate(-12deg); /* Chrome, Safari, Opera */
    transform: rotate(-12deg);
    border-radius: 60px;
    -webkit-border-radius: 60px; 
    -moz-border-radius: 60px; 
    overflow: hidden;
    width:60px;
    height:60px;
}
#mars img {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
}
.marssquare {
    width: 290px !important;
    height: 300px !important;
    margin-top: -50px !important;
    margin-left: -40px !important;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
}
#earth {
    margin-top: 10%;
    margin-left: 54%;
    position: absolute;
    width: 70px;
    height: 70px;
    cursor:move;
    -ms-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg); 
    transform: rotate(-12deg);
    overflow:hidden;
}
#earth img{
    width:70px;
    height:70px;
    border-radius: 70px;
    -webkit-border-radius: 70px; 
    -moz-border-radius: 70px; 
}
#earth2 {
    margin-top: 14%;
    margin-left: 30%;
    position: absolute;
    width: 200px !important;
    height: 200px !important;;
    cursor:move;
    -ms-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg); 
    transform: rotate(-12deg);
    overflow:hidden;
    z-index:-98;
}
#earth2 img{
    width:200px;
    height:200px;
    border-radius: 200px;
    -webkit-border-radius: 200px; 
    -moz-border-radius: 200px; 
}
#earth3{
    margin-top: 24%;
    margin-left: 50%;
    position: absolute;
    width: 600px !important;;
    height: 600px !important;;
    cursor:move;
    -ms-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg); 
    transform: rotate(-12deg);
    overflow:hidden;
    z-index:-99;
}
#earth3 img{
    width:600px;
    height:600px;
    border-radius: 600px;
    -webkit-border-radius: 600px; 
    -moz-border-radius: 600px; 
}
.earth3square {
    width: 930px !important;
    height: 820px !important;
    margin-top: -120px !important;
    margin-left: -150px !important;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
}
/*
#mars {
    margin: 30%;
    position: absolute;
    width: 50px;
    height: 50px;
    opacity: 0.7;
    background: url(http://media.giphy.com/media/Wkcw6SzOtaSxG/giphy.gif) no-repeat center center;
    border-radius: 90px;
    -webkit-border-radius: 90px; 
    -moz-border-radius: 90px; 
    background-size: 80px;
    cursor:move;
    -ms-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg); 
    transform: rotate(-12deg);
}
.mars2{
    background:url(https://media4.giphy.com/media/3o85xCVo1diTHyIoPC/200.gif) no-repeat center center !important;
}

#earth {
    margin-top: 10%;
    margin-left: 54%;
    position: absolute;
    width: 70px;
    height: 70px;
    opacity: 0.9;
    background: url(http://media.giphy.com/media/12dWjL0BVs0bF6/giphy.gif) no-repeat center center;
    background-size: 90px;
    cursor:move;
    border-radius:70px;
    -webkit-border-radius: 70px; 
    -moz-border-radius: 70px; 
    -ms-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg); 
    transform: rotate(-12deg);
}
.earth2 {
    width: 358px !important;
    height: 358px !important;
    background-size: 440px !important;
    border-radius: 360px !important;
}
*/

#jupiter{
	height: 150px;
	margin-left: 73%;
	margin-top: 11%;
	position: absolute;
	width: 150px;
	border-radius: 100px;
	-moz-border-radius: 100px;
    -moz-border-radius: 1100px; 
	background: url(http://massis.lcs.mit.edu/GIF/jupiter.gif) no-repeat center center;
	background-size:150px;
	cursor:move;
}
#saturn{
    background:url("images/planets/saturn.gif") no-repeat center center;
	margin: 34% 0 0 57%;
	width:160px;
	height:160px;
	position:absolute;
	background-size:160px;
	cursor:move;
	border-radius:160px;
    -webkit-border-radius: 160px; 
    -moz-border-radius: 160px; 
}
#ufo {
    background: url(http://media.giphy.com/media/YP8E2JvBySS0o/giphy.gif) no-repeat center center;
    width: 80px;
    height: 80px;
    position: absolute;
    background-size: 50px !important;
    top: 40%;
    left: -10%;
    cursor:help;
    border-radius:80px !important;
    -webkit-border-radius: 80px; 
    -moz-border-radius: 80px; 
    box-shadow:none !important
}
.ui-effects-transfer {
    border: 100px solid #7fffd4;
    border-radius:100%;
        position: fixed;
}
#wave {
    height: 10px;
    width: 10px;
    position: fixed;
    top: 40%;
    left: 40%;
    opacity:0;
}
#outsidescope{
	position:fixed;
	width:100%;
	height:100%;
	cursor:pointer;
    z-index:1;
}
#scope, #scope-devices{
	width:30%;
	height:auto;
	position:fixed;
	background:white;
	color:black;
	-moz-border-radius:600px;
    cursor:default;
	margin: 15% auto;
	left: 0;
	right: 0;
	-webkit-box-shadow: 20px 20px 62px -16px rgba(0,255,255,.3);
	-moz-box-shadow: 20px 20px 62px -16px rgba(0,255,255,.3);
	box-shadow: 20px 20px 62px -16px rgba(0,255,255,.3);
	opacity:.9;
	z-index:2;
    text-align:center;
    padding-top:5%;
    overflow:scroll;
    padding-bottom:4%;
}
#scope p{
	cursor:default;
	width:100%;
	text-align:center;
    font-weight:lighter;
    line-height:23px;
    font-family: 'Asul', monospace;
}
#scope a{
    color:blueviolet;
    text-decoration:overline;
    font-family: 'Asul', monospace;
}
#scope-devices p{
    cursor:default;
    width:100%;
    text-align:center;
    font-family: monospace;
    font-weight:lighter;
    line-height:130px;
    font-family: 'Asul', monospace;
    font-size:60px;
}
#scope-devices a{
    color:blueviolet;
    text-decoration:overline;
    font-family: 'Asul', monospace;
}
#scope img{
    width:30%;
}
.squaremode{
	border-radius:0 !important;
	background-size:350% !important;
	transform: rotate(0deg) !important;

}

/* -----------------------------------------------------DEVICES-----------*/

#devices {
    background:url("images/space.jpg") no-repeat center center fixed;
    letter-spacing: 1px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    color:white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
    width:100%;
    display:none;
    position:fixed;
}
#moon-devices {
    height: 680px;
    width: 680px;
    background: url(http://38.media.tumblr.com/cead6e4c170671ad157ef0c486c6a508/tumblr_mt9smxDyur1qb87hvo1_r6_400.gif)no-repeat center;
    background-size: 1220px;
    border-radius: 700px;
    -webkit-border-radius: 700px; 
    -moz-border-radius: 700px; 
    cursor: move;
    margin: auto;
    -ms-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
    margin-top: 40%;
}
@media only screen and (max-device-width: 750px) {
    #wrapper{
        display:none !important;
        position:fixed;
    }
    #devices{
        display:block;
    }
    #loading p {
        font-size:80px;
        width:auto;
    }
    #scope{
        display:none;
    }
    #scope-devices{
        width: 87%;
        height: 100%;
        margin:0 auto;
        padding: 70px;
    }